#root {
    color: #e9e9e9;
}

input, select {
    color: black;
    font-size: 20px
}


a{
    color: transparent
}

form {
    margin-left: 25%;
    margin-right: 25%;
}

._244_WpsbxCKE_aQPsrcpn3._17s9sfRz_OhvsAxlINu-ba{
    background-color: #feb13b;
}

/* div {
    text-align: center
} */